
<div class="alert-box error">
	<strong>
		<% errors = @link.errors.full_messages %>
		<% if errors.length == 1 || errors[0] == errors[1] %>
        	<%= errors.first.to_s.capitalize + "." %>
        <% else %>
        	<%= errors.join(" and ").capitalize + ", anyways." %>	
        <% end %> 
         <a href="#" class="close">&times;</a>
    </strong>
</div> 
