

<div class="alert-box success">
	Congratulations, your link:
		<strong>

	<% name = (request.url + @link.suggestion) %>
	<% id = request.url + @link.u_id %>

	<%= '<a href="' + name + '">' + name[7...name.length] + '</a> or' %>
		</strong>
		 
	<%= '<a href="' + id + '">' + id[7...id.length] + '</a>' %>	
		<a href="#" class="close">&times;</a>
</div> 
